[Desktop Entry]
Categories=TextEditor;Utility;
Name=Nuspell
GenericName=Spellchecker
Comment=spellchecking library and command-line tool
Exec=nuspell %u
Icon=org.nuspell.Nuspell
Terminal=true
StartupNotify=false
Type=Application
