[Desktop Entry]
Categories=TextEditor;Utility
Name=Nuspell
GenericName=Spell Checker
Comment=spell checking library and command-line tool
Exec=nuspell %u
Icon=org.nuspell.Nuspell
Terminal=false
StartupNotify=false
Type=Application
