Source: nuspell
Priority: optional
Maintainer: Pander <pander@users.sourceforge.net>
Build-Depends: debhelper
       , debhelper-compat (= 11)
       , cmake
       , libboost-locale-dev
       , libicu-dev (>= 59)
       , pandoc
Standards-Version: 4.1.4
Section: text
Homepage: https://nuspell.github.io/
Vcs-Browser: https://github.com/nuspell/nuspell
Vcs-Git: https://github.com/nuspell/nuspell.git

Package: libnuspell-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
       , libnuspell5 (= ${binary:Version})
       , libicu-dev
Multi-Arch: same
Description: spelling checker (development)
 Nuspell is a fast and safe spelling checker software program. It is designed
 for languages with rich morphology and complex word compounding. Nuspell is
 written in modern C++ and it supports Hunspell dictionaries.
 .
 Main features of Nuspell spelling checker:
  - Provides software library and command-line tool.
  - Suggests high-quality spelling corrections.
  - Backward compatibility with Hunspell dictionary file format.
  - Up to 3.5 times faster than Hunspell.
  - Full Unicode support backed by ICU.
  - Twofold affix stripping (for agglutinative languages, like Azeri, Basque,
    Estonian, Finnish, Hungarian, Turkish, etc.).
  - Supports complex compounds (for example, Hungarian, German and Dutch).
  - Supports advanced features, for example: special casing rules (Turkish
    dotted i or German sharp s), conditional affixes, circumfixes,
    fogemorphemes, forbidden words, pseudoroots and homonyms.
  - Free and open source software. Licensed under GNU LGPL v3 or later.
 .
 This package contains the development files.

Package: libnuspell5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: hunspell-en-us
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: spelling checker (shared library)
 Nuspell is a fast and safe spelling checker software program. It is designed
 for languages with rich morphology and complex word compounding. Nuspell is
 written in modern C++ and it supports Hunspell dictionaries.
 .
 Main features of Nuspell spelling checker:
  - Provides software library and command-line tool.
  - Suggests high-quality spelling corrections.
  - Backward compatibility with Hunspell dictionary file format.
  - Up to 3.5 times faster than Hunspell.
  - Full Unicode support backed by ICU.
  - Twofold affix stripping (for agglutinative languages, like Azeri, Basque,
    Estonian, Finnish, Hungarian, Turkish, etc.).
  - Supports complex compounds (for example, Hungarian, German and Dutch).
  - Supports advanced features, for example: special casing rules (Turkish
    dotted i or German sharp s), conditional affixes, circumfixes,
    fogemorphemes, forbidden words, pseudoroots and homonyms.
  - Free and open source software. Licensed under GNU LGPL v3 or later.
 .
 This package contains the shared library.

Package: nuspell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: spelling checker (program)
 Nuspell is a fast and safe spelling checker software program. It is designed
 for languages with rich morphology and complex word compounding. Nuspell is
 written in modern C++ and it supports Hunspell dictionaries.
 .
 Main features of Nuspell spelling checker:
  - Provides software library and command-line tool.
  - Suggests high-quality spelling corrections.
  - Backward compatibility with Hunspell dictionary file format.
  - Up to 3.5 times faster than Hunspell.
  - Full Unicode support backed by ICU.
  - Twofold affix stripping (for agglutinative languages, like Azeri, Basque,
    Estonian, Finnish, Hungarian, Turkish, etc.).
  - Supports complex compounds (for example, Hungarian, German and Dutch).
  - Supports advanced features, for example: special casing rules (Turkish
    dotted i or German sharp s), conditional affixes, circumfixes,
    fogemorphemes, forbidden words, pseudoroots and homonyms.
  - Free and open source software. Licensed under GNU LGPL v3 or later.
 .
 This package contains the command-line program.
