Source: nuspell
Priority: optional
Maintainer: Pander <pander@users.sourceforge.net>
Build-Depends: debhelper (>= 11), cmake, make, git, libicu-dev, g++, ronn
Standards-Version: 4.1.3
Section: text
Homepage: http://nuspell.github.io/
Vcs-Browser: https://github.com/nuspell/nuspell
Vcs-Git: https://github.com/nuspell/nuspell.git

Package: libnuspell-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libnuspell-SHORT-PATCH (= ${binary:Version})
Multi-Arch: same
Description: spell checker (development)
 Nuspell is a free and open source spell checker that is written in modern C++.
 It extensively supports character encodings, compounding, affixing and complex
 morphology. It has backwards compatability with MySpell and Hunspell
 dictionaries and affix files, a.k.a. language support. Nuspell offers also
 suggestions and personal dictionaries.
 .
 This package contains the headers.

Package: libnuspell-SHORT-PATCH
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: hunspell-en-us
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: spell checker (shared library)
 Nuspell is a free and open source spell checker that is written in modern C++.
 It extensively supports character encodings, compounding, affixing and complex
 morphology. It has backwards compatability with MySpell and Hunspell
 dictionaries and affix files, a.k.a. language support. Nuspell offers also
 suggestions and personal dictionaries.
 .
 This package contains the shared library.

Package: nuspell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hunspell-en-us
Multi-Arch: foreign
Description: spell checker (program)
 Nuspell is a free and open source spell checker that is written in modern C++.
 It extensively supports character encodings, compounding, affixing and complex
 morphology. It has backwards compatability with MySpell and Hunspell
 dictionaries and affix files, a.k.a. language support. Nuspell offers also
 suggestions and personal dictionaries.
 .
 This package contains the command-line program.

